body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
}
.comment {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
  padding: 20px 20px;
  background: white;
  border-radius: 14px;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
}
.userInfo .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.userInfo-name h1 {
  margin: 0.25em;
}
.comment-date {
  margin-top: 5px;
}
